[submodule "Project/Project3/lib/forge-std"]
	path = Project/Project3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Project/Project4/lib/forge-std"]
	path = Project/Project4/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Project/Bill/lib/forge-std"]
	path = Project/Bill/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Project/Charity/lib/forge-std"]
	path = Project/Charity/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Project/Crowdfunding/lib/forge-std"]
	path = Project/Crowdfunding/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Project/Securewallet/lib/forge-std"]
	path = Project/Securewallet/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Project/Escrow/lib/forge-std"]
	path = Project/Escrow/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Project/Payroll/lib/forge-std"]
	path = Project/Payroll/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
